<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>2645-6</title>
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="../jeasyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../jeasyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="../jeasyui/demo/demo.css">
	<script type="text/javascript" src="../jeasyui/jquery.min.js"></script>
	<script type="text/javascript" src="../jeasyui/jquery.easyui.min.js"></script>
</head>
<body class="easyui-layout">
	<div align="center" data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;padding:10px">
    	<div align="right" style="float:right"><a href="javascript:void(0)" onclick="$('#wpass').window('open')" style="margin:10px">修改密码</a><a href="destroy_login.php">注销</a></div>
    	<div align="center" style="font-family:幼圆; font-size:20px">你好，{#$username#}，欢迎使用课程管理系统！</div>
    </div>
	<div data-options="region:'west',split:true,title:'管理菜单'" style="width:240px;padding:0px;">
      <div class="easyui-accordion" fit="true">
      {#if $userflag == 'admin'#}
          <div title="基本信息管理" style="overflow:auto;padding:0px">
             <ul class="easyui-datalist" lines="true" style="width:100%;height:100%" fit="true">
                <li value="managemajor"><div onclick="addPanel('专业管理','managemajor.php')">专业管理</div></li>
                <li value="manageclass"><div onclick="addPanel('班级管理','manageclass.php')">班级管理</div></li>
                <li value="managestudent"><div onclick="addPanel('学生管理','managestudent.php')">学生管理</div></li>
                <li value="managesubject"><div onclick="addPanel('学科管理','managesubject.php')">学科管理</div></li>
                <li value="manageteacher"><div onclick="addPanel('教师管理','manageteacher.php')">教师管理</div></li>
                <li value="manageterm"><div onclick="addPanel('学期管理','manageterm.php')">学期管理</div></li>
            </ul>
          </div> 
          <div title="学期信息管理" style="overflow:auto;padding:0px">
          	<iframe id="showterm" src="showterms.php"  frameborder="no" width="100%" height="100%" border="0" marginwidth="0" marginheight="0" scrolling="auto"></iframe>
          </div>
      {#else#}
	  <script>alert('{#$userflag#}');</script>
      
      {#/if#}  
          <div title="帮助" data-options="iconCls:'icon-help'" style="padding:0px">
             <ul class="easyui-datalist" lines="true" style="width:100%;height:100%" fit="true">
                <li value="help"><div onclick="addHelpPanel()">帮助信息</div></li>
                <li value="about"><div onclick="addAboutPanel()">关于</div></li>
                <li value="contact"><div onclick="addContactPanel()">联系开发人员</div></li>
                <li value="donate"><div onclick="addDonatePanel()">捐赠</div></li>
             </ul>
           </div>
      </div>
    </div>
	<div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:240px;padding:10px;">east region</div>
	<div data-options="region:'center'">
        <div id="centertab" class="easyui-tabs" fit="true">
            <div title="欢迎" style="padding:10px">
                <p>This is a welcome page.</p>
            </div>
            <div title="My Documents" closable="true" style="padding:10px">
                <ul class="easyui-tree" data-options="url:'tree_data1.json',method:'get',animate:true"></ul>
            </div>
        </div>
    </div>
    <div id="wpass" class="easyui-window" title="修改密码" data-options="modal:true,closed:true,iconCls:'icon-save'" style="width:360px;height:210px;">
		<div class="easyui-panel" align="center" fit="true" style="padding:10px">
	    <form id="ffpass" method="post">
	    	<table cellpadding="5">
	    		<tr>
	    			<td>旧密码:</td>
	    			<td><input class="easyui-textbox" type="password" name="oldpass" data-options="required:true" missingMessage="密码字段不可为空"/></td>
	    		</tr>
	    		<tr>
	    			<td>新密码:</td>
	    			<td><input class="easyui-textbox" type="password" name="newpass" id="newpass" data-options="required:true" missingMessage="密码字段不可为空"/></td>
	    		</tr>
	    		<tr>
	    			<td>确认密码:</td>
	    			<td><input class="easyui-textbox" type="password" name="confirmpass" data-options="required:true" missingMessage="密码字段不可为空" validType="equalTo['#newpass']" invalidMessage="两次输入密码不匹配"/></td>
	    		</tr>
	    	</table>
	    </form>
	    <div style="text-align:center;padding:5px">
	    	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">提交</a>
	    	<a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清空</a>
	    </div>
	</div>
	<script>
		function submitForm(){
			$('#ffpass').form('submit');
		}
		function clearForm(){
			$('#ffpass').form('clear');
		}
		$.extend($.fn.validatebox.defaults.rules, {
        /*必须和某个字段相等*/
        	equalTo: { validator: function (value, param) { return $(param[0]).val() == value; }, message: '字段不匹配' }
       });
		$(function(){
			$('#ffpass').form({
				url:'changepass.php',
				onSubmit:function(){
					return $(this).form('validate');
				},
				success:function(data){
					var result =  eval("("+data+")");
					if(result['result'] == "denied")
					{
						$.messager.alert('改密失败！', '密码不正确', 'info');
					}
					else if(result['result'] == "success")
					{
						$.messager.alert('信息', '改密成功', 'info');
						clearForm();
						$('#wpass').window('close');
					}
					else
						$.messager.alert('未知错误', data, 'info');
				}
			});
		});
	</script>
	</div>

    <script type="text/javascript">
		function addPanel(title,url){
			if($('#centertab').tabs('exists',title)){
				$('#centertab').tabs('select',title);
			}else{
				$('#centertab').tabs('add',{
					title: title,
					content:'<iframe id="panelframe" src="'+url+'" frameborder="0" width="100%" height="100%"></iframe>',
					closable: true,
					style:'padding:10px'
				});
			}
		}
		function addHelpPanel(){
			if($('#centertab').tabs('exists','帮助')){
				$('#centertab').tabs('select','帮助');
			}else{
				$('#centertab').tabs('add',{
					title: '帮助',
					content: '<p>This is the help content.</p>',
					closable: true,
					iconCls:'icon-help',
					style:'padding:10px'
				});
			}
		}
		function addAboutPanel(){
			if($('#centertab').tabs('exists','关于')){
				$('#centertab').tabs('select','关于');
			}else{
				$('#centertab').tabs('add',{
					title: '关于',
					content: "<p style='font-size:14px'>jQuery EasyUI framework helps you build your web pages easily.</p><ul><li>easyui is a collection of user-interface plugin based on jQuery.</li><li>easyui provides essential functionality for building modem, interactive, javascript applications.</li><li>using easyui you don't need to write many javascript code, you usually defines user-interface by writing some HTML markup.</li><li>complete framework for HTML5 web page.</li><li>easyui save your time and scales while developing your products.</li><li>easyui is very easy but powerful.</li></ul>",
					closable: true,
					style:'padding:10px'
				});
			}
		}
		function addContactPanel(){
			if($('#centertab').tabs('exists','联系开发人员')){
				$('#centertab').tabs('select','联系开发人员');
			}else{
				$('#centertab').tabs('add',{
					title: '联系开发人员',
					content: "<p>This is the contact content.</p>",
					closable: true,
					style:'padding:10px'
				});
			}
		}
		function addDonatePanel(){
			if($('#centertab').tabs('exists','捐赠')){
				$('#centertab').tabs('select','捐赠');
			}else{
				$('#centertab').tabs('add',{
					title: '捐赠',
					content: "<p>This is the donate content.</p>",
					closable: true,
					style:'padding:10px'
				});
			}
		}
	</script>
</body>
</html>