<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>2645-6</title>
	<link rel="stylesheet" type="text/css" href="../jeasyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../jeasyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="../jeasyui/demo/demo.css">
	<link rel="stylesheet" type="text/css" href="../jeasyui/demo/color.css">
	<script type="text/javascript" src="../jeasyui/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="../jeasyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../jeasyui/jquery.edatagrid.js"></script>
</head>
<body>
	<table id="dg" style="width:700px;height:250px" fit="true"
			toolbar="#toolbar" pagination="true" idField="{#$primate#}"
			rownumbers="true" fitColumns="true" singleSelect="false">
		<thead>
			<tr>
		<th field="ck" checkbox="true"></th>
            	{#section name=looper loop=$TableHeads#} 
            	<th field="{#$TableHeads[looper].field#}"  width="50" sortable="true" editor="{#$TableHeads[looper].editor#}">{#$TableHeads[looper].title#}</th>
                {#sectionelse#} 
				<p>错误：没有可用的表头</p>
				{#/section#}
			</tr>
		</thead>
	</table>
	<div id="toolbar">
   		 <p>
        选择管理的专业：
      <select class="easyui-combobox" id="major" style="width:200px;" editable="false">
            {#section name=looper loop=$Majors#} 
            <option value="{#$Majors[looper].major#}">{#$Majors[looper].major_name#}</option>
            {#sectionelse#} 
            <option value="error">错误：没有可用的专业</option>
            {#/section#} 
        </select>
        </p>
		<a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="$('#dg').edatagrid('addRow')">添加</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">删除</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" onclick="javascript:$('#dg').edatagrid('saveRow')">保存</a>
		<a href="#" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onclick="javascript:$('#dg').edatagrid('cancelRow')">取消</a>
        <input id="itemid" class="easyui-textbox" />
        <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="doSearch(0)">模糊搜索</a>
	    <abbr title="精准搜索时，你可以用_来代替单个字符，用%来代替多个字符">
        <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="doSearch(1)">精准搜索</a>
        </abbr>
	</div>
	<script type="text/javascript">
		$(function(){
			$('#dg').edatagrid({
				url: '{#$dir#}/get_users.php',
				saveUrl: '{#$dir#}/save_user.php',
				updateUrl: '{#$dir#}/update_user.php',
				destroyUrl: '{#$dir#}/destroy_user.php',
			});
		});
		$('#dg').edatagrid({
				onClickRow: function (rowIndex) {
					$('#dg').datagrid("unselectAll");
					$('#dg').datagrid("uncheckAll");
					$('#dg').datagrid("selectRow", rowIndex);
				},
				onEdit: function(index, row){
					if(!row.isNewRecord){
						var cellEdit = $('#dg').datagrid('getEditor', {index:index,field:'subject'});
						cellEdit.target.combobox('disable'); // 设值只读
					}
				},
				onError: function(index,row){
					$.messager.show({	// show error message
						title: '错误',
						msg: row.msg
					});
				}
		});
		$('#major').combobox({
				onSelect:function(record){
							//alert(record['value']);
							$('#dg').edatagrid({
								url: '{#$dir#}/get_users.php?term={#$term#}&major='+record['value'],
								saveUrl: '{#$dir#}/save_user.php?term={#$term#}&major='+record['value'],
								updateUrl: '{#$dir#}/update_user.php?term={#$term#}&major='+record['value'],
								destroyUrl: '{#$dir#}/destroy_user.php?term={#$term#}&major='+record['value'],
							});
							$('#dg').datagrid('reload');
						}
		});
		function destroyUser(){
			var row = $('#dg').edatagrid('getSelections');
			var primates = "";
			for(i = 0; i < row.length; i++){
				primates = primates + row[i].{#$primate#} + ',';
			}
			if (row){
				$.messager.confirm('确认','你确定要删除吗？',function(r){
					if (r){
							$.post('{#$dir#}/destroy_user.php',{id:primates,term:{#$term#},major:$('#major').combobox('getValue')},function(result){
							if (result.success){
								$('#dg').edatagrid('reload');	// reload the user data
							} else {
								$.messager.show({	// show error message
									title: '错误',
									msg: result.errorMsg
								});
							}
						},'json');
					}
				});
			}
		}
		function doSearch(isPrecise){
			if(isPrecise==1)
				$('#dg').edatagrid('load',{
					itemid: $('#itemid').val(),
				});
			else if(isPrecise==0)
				$('#dg').edatagrid('load',{
					itemid: '%'+$('#itemid').val()+'%',
				});		
		}
		function downloadFile(url) {   
			try{ 
				var elemIF = document.createElement("iframe");   
				elemIF.src = url;   
				elemIF.style.display = "none";   
				document.body.appendChild(elemIF);   
			}catch(e){ 
	 
			} 
   		 }	
	</script>
	<style type="text/css">
		#fm{
			margin:0;
			padding:10px 30px;
		}
		.ftitle{
			font-size:14px;
			font-weight:bold;
			padding:5px 0;
			margin-bottom:10px;
			border-bottom:1px solid #ccc;
		}
		.fitem{
			margin-bottom:5px;
		}
		.fitem label{
			display:inline-block;
			width:80px;
		}
		.fitem input{
			width:160px;
		}
	</style>
</body>
</html>