<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>找回密码</title>
<link rel="stylesheet" href="./css/bootstrap.css"/>
<link href="./css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="./js/jquery.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="./js/bootstrap.min.js"></script>
<script language="javascript">

var rt = 5;
var i = setInterval(a,1000);
function a() {
rt--;
document.getElementById("t").innerHTML="页面将在"+rt.toString()+"秒内跳转……如果浏览器没有自动跳转，点击此处后退重试";
if(rt == 0){
	clearInterval(i);
	history.go(-1);
}
}
</script>
</head>

<body style="background-color:#EFEFEF">
<div class="container" style="background-color:#FFFFFF; margin-top:100px; margin-bottom:200px; padding-top:20px; padding-bottom:100px;">
  <div class="page-header col-xs-8 col-xs-offset-2" style="margin-bottom:50px">
    <h1>找回密码</h1>
  </div>
  <br/>
  <br/>
  <br/>
  <div class="col-xs-6 col-xs-offset-3" style="font-size:16px">
    <center>
      邮件发送失败，点击按钮重新发送
      <br/>
      <br/>
      <div id="captcha"></div>
      <br/>
      <form action="resetpass.php" method="post">
      	<input type="hidden" name="username" value="{#$username#}" />
        <input type="hidden" name="Email" value="{#$Email#}" />
        <input id="mysubmit" type="submit" class="btn btn-default" value="点击重新发送" disabled/>
      </form>
    </center>
  </div>
  <div class="col-xs-8 col-xs-offset-2" style="margin-top:50px">
    <footer class=" modal-footer">
      <h4>
        <center>
          Copyright by 2016 2645工作室
        </center>
      </h4>
    </footer>
  </div>
</div>
<script src="http://static.geetest.com/static/tools/gt.js"></script> 
<script>
function myvalidate()
{
	alert("请拖动滑块完成验证~");
	//$('#defaultForm').bootstrapValidator(options).bootstrapValidator('validate');
//	var isvalid =$('#defaultForm').bootstrapValidator(options).bootstrapValidator('isvalid');
//	//alert(isvalid);
//	if(isvalid)
//	{
//		document.getElementById('defaultForm').submit();
//	}
//	else
//		$('#defaultForm').bootstrapValidator(options).bootstrapValidator('validate');
}
				    var handler = function (captchaObj) {
				         // 将验证码加到id为captcha的元素里
				         captchaObj.appendTo("#captcha");
						 captchaObj.onSuccess(function(){$("#mysubmit").removeAttr("disabled");$("#mysubmit").attr("class","btn btn-primary");});
						 captchaObj.onFail(function(){$("#mysubmit").attr("disabled","true");$("#mysubmit").attr("class","btn btn-default");});
						 captchaObj.onRefresh(function(){$("#mysubmit").attr("disabled","true");$("#mysubmit").attr("class","btn btn-default");});
				     	 captchaObj.onReady(function(){$("#captcha").find().removeAttr("style");});
					 };
				    $.ajax({
				        // 获取id，challenge，success（是否启用failback）
				        url: "geetest/web/StartCaptchaServlet.php?rand="+Math.round(Math.random()*100),
				        type: "get",
				        dataType: "json", // 使用jsonp格式
				        success: function (data) {
				            // 使用initGeetest接口
				            // 参数1：配置参数，与创建Geetest实例时接受的参数一致
				            // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
				            initGeetest({
				                gt: data.gt,
				                challenge: data.challenge,
				                product: "float", // 产品形式
				                offline: !data.success
				            }, handler);
				        }
				    });
</script> 
</body>
</html>
