<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>2645-6</title>
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="../jeasyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../jeasyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="../jeasyui/demo/color.css">
	<link rel="stylesheet" type="text/css" href="../jeasyui/demo/demo.css">
	<script type="text/javascript" src="../jeasyui/jquery-1.6.1.min.js"></script>
	<script type="text/javascript" src="../jeasyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="../jeasyui/jquery.checkbox.js"></script>
    <script type="text/javascript" src="../jeasyui/easyui-lang-zh_CN.js"></script></head>
<body>
	<table id="dg" class="easyui-datagrid" fit="true"
			url="{#$dir#}/get_users.php?term={#$term#}&subject=ALL"
			toolbar="#toolbar" pagination="true"
			rownumbers="true" fitColumns="true"
            checkOnSelect="true" selectOnCheck="true">
		<thead>
			<tr>
		<th field="ck" checkbox="true"></th>
            	{#section name=looper loop=$TableHeads#} 
            	<th field="{#$TableHeads[looper].field#}" width="50" sortable="true" {#if $TableHeads[looper].hidden == "true"#}hidden="true"{#/if#}>{#$TableHeads[looper].title#}</th>
                {#sectionelse#} 
				<p>错误：没有可用的按钮</p>
				{#/section#}
			</tr>
		</thead>
	</table>
	<div id="toolbar">
   		 <p>
        选择管理的学科：
      <select class="easyui-combobox" id="subject" editable="false" style="width:200px;">
            {#section name=looper loop=$Subjects#} 
            <option value="{#$Subjects[looper].subject#}">{#$Subjects[looper].subject_name#}</option>
            {#sectionelse#} 
            <option value="error">错误：没有可用的学科</option>
            {#/section#} 
        </select>
        </p>
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser();refresh_c()">新增</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">删除</a>
        <input id="itemid" class="easyui-textbox" />
        <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="doSearch(0)">模糊搜索</a>
	    <abbr title="精准搜索时，你可以用_来代替单个字符，用%来代替多个字符">
        <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="doSearch(1)">精准搜索</a>
        </abbr>
	</div>
	<div id="dlg_new" class="easyui-dialog" style="width:400px;height:290px;padding:10px 20px"
			closed="true" buttons="#dlg_new-buttons">
		<div class="ftitle">{#$FormNewTitle[1]#}</div>
		<form id="fm_new" method="post">
        	{#section name=looper loop=$Form_new#} 
            	<div class="fitem">
                <label>{#$Form_new[looper].title#}:</label>
                {#$Form_new[looper].content#}
                </div>
                {#sectionelse#} 
				<p>错误：没有可编辑的信息</p>
				{#/section#}
		</form>
	</div>
	<div id="dlg_new-buttons">
		<a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="saveNewUser()" style="width:90px">保存</a>
		<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg_new').dialog('close')" style="width:90px">取消</a>
	</div>
	<script type="text/javascript">
		var url;
		$('#dg').datagrid({ 
			onClickRow: function (rowIndex) {
				$('#dg').datagrid("unselectAll");
				$('#dg').datagrid("uncheckAll");
				$('#dg').datagrid("selectRow", rowIndex);
			 }
		});
		function newUser(){
			alert("!");
			$('#dlg_new').dialog('open').dialog('setTitle','{#$FormNewTitle[0]#}');
			$('#fm_new').form('clear');
			url = '{#$dir#}/save_user.php?term={#$term#}';
		}
		function refresh_c(){
			$('#sp').find("input[type='text']").attr('disabled',"true");
			$('#sp').find("input[type='checkbox']").removeAttr('checked');
		}
		function saveNewUser(){
			//$.post('action.php',$('#cc').combobox('getValues'),function(data){alert(data);});
			$('#fm_new').form('submit',{
				url: url,
				onSubmit: function(){
					if($(this).form('validate'))
						$("#cc2").combobox("setValue", $('#cc2').combobox('getValues'));
					return $(this).form('validate');
				},
				success: function(result){
					var result = eval('('+result+')');
					if (result.errorMsg){
						$("#cc").combobox("clear");
						$.messager.alert( '错误', result.errorMsg, 'info');
					} else {
						$('#dlg_new').dialog('close');		// close the dialog
						$('#dg').datagrid('reload');	// reload the user data
					}
				}
			});
		}

		function destroyUser(){
			var row = $('#dg').datagrid('getSelections');
			var primates = "";
			for(i = 0; i < row.length; i++){
				primates = primates + row[i].{#$primate#} + ',';
			}
			if (row){
				$.messager.confirm('确认','你确定要删除吗？',function(r){
					if (r){
							$.post('{#$dir#}/destroy_user.php?term={#$term#}',{id:primates},function(result){
							if (result.success){
								$('#dg').datagrid('reload');	// reload the user data
							} else {
								$.messager.show({	// show error message
									title: '错误',
									msg: result.errorMsg
								});
							}
						},'json');
					}
				});
			}
		}
		$('#subject').combobox({
				onSelect:function(record){
							//alert(record['value']);
							$('#dg').datagrid({
								url: '{#$dir#}/get_users.php?term={#$term#}&subject='+record['value'],
							});
							$('#dg').datagrid('reload');
						}
		});
		function doSearch(isPrecise){
			if(isPrecise==1)
				$('#dg').datagrid('load',{
					itemid: $('#itemid').val(),
				});
			else if(isPrecise==0)
				$('#dg').datagrid('load',{
					itemid: '%'+$('#itemid').val()+'%',
				});		
		}

	</script>
	<script type="text/javascript">
		var url;
		$('#dg').datagrid({ 
			onClickRow: function (rowIndex) {
				$('#dg').datagrid("unselectAll");
				$('#dg').datagrid("uncheckAll");
				$('#dg').datagrid("selectRow", rowIndex);
			 }
		});
		function newUser(){
			$('#dlg_new').dialog('open').dialog('setTitle','{#$FormNewTitle[0]#}');
			$('#fm_new').form('clear');
			url = '{#$dir#}/save_user.php?term={#$term#}';
		}
		function editUser(){
			var row = $('#dg').datagrid('getSelected');
			if (row){
				$('#dlg_edit').dialog('open').dialog('setTitle','{#$FormEditTitle[0]#}');
				$('#fm_edit').form('load',row);
				url = '{#$dir#}/update_user.php??term={#$term#}&id='+row.id;
			}
		}
		function saveNewUser(){
			//$.post('action.php',$('#cc').combobox('getValues'),function(data){alert(data);});
			$('#fm_new').form('submit',{
				url: url,
				onSubmit: function(){
					if($(this).form('validate'))
						$("#cc2").combobox("setValue", $('#cc2').combobox('getValues'));
					return $(this).form('validate');
				},
				success: function(result){
					var result = eval('('+result+')');
					if (result.errorMsg){
						$("#cc").combobox("clear");
						$.messager.alert( '错误', result.errorMsg, 'info');
					} else {
						$('#dlg_new').dialog('close');		// close the dialog
						$('#dg').datagrid('reload');	// reload the user data
					}
				}
			});
		}
		function saveEditUser(){
			$('#fm_edit').form('submit',{
				url: url,
				onSubmit: function(){
					return $(this).form('validate');
				},
				success: function(result){
					var result = eval('('+result+')');
					if (result.errorMsg){
						$.messager.alert( '错误', result.errorMsg, 'info');
					} else {
						$('#dlg_edit').dialog('close');		// close the dialog
						$('#dg').datagrid('reload');	// reload the user data
					}
				}
			});
		}
		function destroyUser(){
			var row = $('#dg').datagrid('getSelections');
			var primates = "";
			for(i = 0; i < row.length; i++){
				primates = primates + row[i].{#$primate#} + ',';
			}
			if (row){
				$.messager.confirm('确认','你确定要删除吗？',function(r){
					if (r){
							$.post('{#$dir#}/destroy_user.php?term={#$term#}',{id:primates},function(result){
							if (result.success){
								$('#dg').datagrid('reload');	// reload the user data
							} else {
								$.messager.show({	// show error message
									title: '错误',
									msg: result.errorMsg
								});
							}
						},'json');
					}
				});
			}
		}
		$('#subject').combobox({
				onSelect:function(record){
							//alert(record['value']);
							$('#dg').datagrid({
								url: '{#$dir#}/get_users.php?term={#$term#}&subject='+record['value'],
							});
							$('#dg').datagrid('reload');
						}
		});
		function doSearch(isPrecise){
			if(isPrecise==1)
				$('#dg').datagrid('load',{
					itemid: $('#itemid').val(),
				});
			else if(isPrecise==0)
				$('#dg').datagrid('load',{
					itemid: '%'+$('#itemid').val()+'%',
				});		
		}
		function excelShow(mode){
			if(mode=="import")
			{
				$('fm_excelImport').form('clear');
				$('#dlg_excelImport').dialog('open').dialog('setTitle','Excel导入');
				url = '{#$dir#}/upload.php'
			}
			else if(mode=="export")
			{
				$('fm_excelExport').form('clear');
				$('#dlg_excelExport').dialog('open').dialog('setTitle','Excel导出');
			}
		}
		function excelUpload(){ 
			$('#fm_excelImport').form('submit',{
				url: url,
				onSubmit: function(){
					return $(this).form('validate');
				},
				success: function(result){
					var result = eval('('+result+')');
					if (result.errorMsg){
						$.messager.alert( '错误', result.errorMsg, 'info');
						$('#dlg_excelImport').dialog('close');		// close the dialog
						$('#dg').datagrid('reload');	// reload the user data
					} else {
						$('#dlg_excelImport').dialog('close');		// close the dialog
						$('#dg').datagrid('reload');	// reload the user data
					}
				}
			});
		}
		function excelExport(){ 
			try{ 
				var elemIF = document.createElement("iframe");   
				elemIF.src = '{#$dir#}/export.php';
				elemIF.style.display = "none";   
				document.body.appendChild(elemIF);   
			}catch(e){ 
	 
			} 
		}
		function downloadFile(url) {   
			try{ 
				var elemIF = document.createElement("iframe");   
				elemIF.src = url;   
				elemIF.style.display = "none";   
				document.body.appendChild(elemIF);   
			}catch(e){ 
	 
			} 
   		 }	
	</script><script type="text/javascript">
		var url;
		$('#dg').datagrid({ 
			onClickRow: function (rowIndex) {
				$('#dg').datagrid("unselectAll");
				$('#dg').datagrid("uncheckAll");
				$('#dg').datagrid("selectRow", rowIndex);
			 }
		});
		function newUser(){
			$('#dlg_new').dialog('open').dialog('setTitle','{#$FormNewTitle[0]#}');
			$('#fm_new').form('clear');
			url = '{#$dir#}/save_user.php?term={#$term#}';
		}
		function editUser(){
			var row = $('#dg').datagrid('getSelected');
			if (row){
				$('#dlg_edit').dialog('open').dialog('setTitle','{#$FormEditTitle[0]#}');
				$('#fm_edit').form('load',row);
				url = '{#$dir#}/update_user.php??term={#$term#}&id='+row.id;
			}
		}
		function saveNewUser(){
			//$.post('action.php',$('#cc').combobox('getValues'),function(data){alert(data);});
			$('#fm_new').form('submit',{
				url: url,
				onSubmit: function(){
					if($(this).form('validate'))
						$("#cc2").combobox("setValue", $('#cc2').combobox('getValues'));
					return $(this).form('validate');
				},
				success: function(result){
					var result = eval('('+result+')');
					if (result.errorMsg){
						$("#cc").combobox("clear");
						$.messager.alert( '错误', result.errorMsg, 'info');
					} else {
						$('#dlg_new').dialog('close');		// close the dialog
						$('#dg').datagrid('reload');	// reload the user data
					}
				}
			});
		}
		function saveEditUser(){
			$('#fm_edit').form('submit',{
				url: url,
				onSubmit: function(){
					return $(this).form('validate');
				},
				success: function(result){
					var result = eval('('+result+')');
					if (result.errorMsg){
						$.messager.alert( '错误', result.errorMsg, 'info');
					} else {
						$('#dlg_edit').dialog('close');		// close the dialog
						$('#dg').datagrid('reload');	// reload the user data
					}
				}
			});
		}
		function destroyUser(){
			var row = $('#dg').datagrid('getSelections');
			var primates = "";
			for(i = 0; i < row.length; i++){
				primates = primates + row[i].{#$primate#} + ',';
			}
			if (row){
				$.messager.confirm('确认','你确定要删除吗？',function(r){
					if (r){
							$.post('{#$dir#}/destroy_user.php?term={#$term#}',{id:primates},function(result){
							if (result.success){
								$('#dg').datagrid('reload');	// reload the user data
							} else {
								$.messager.show({	// show error message
									title: '错误',
									msg: result.errorMsg
								});
							}
						},'json');
					}
				});
			}
		}
		$('#subject').combobox({
				onSelect:function(record){
							//alert(record['value']);
							$('#dg').datagrid({
								url: '{#$dir#}/get_users.php?term={#$term#}&subject='+record['value'],
							});
							$('#dg').datagrid('reload');
						}
		});
		function doSearch(isPrecise){
			if(isPrecise==1)
				$('#dg').datagrid('load',{
					itemid: $('#itemid').val(),
				});
			else if(isPrecise==0)
				$('#dg').datagrid('load',{
					itemid: '%'+$('#itemid').val()+'%',
				});		
		}
		function excelShow(mode){
			if(mode=="import")
			{
				$('fm_excelImport').form('clear');
				$('#dlg_excelImport').dialog('open').dialog('setTitle','Excel导入');
				url = '{#$dir#}/upload.php'
			}
			else if(mode=="export")
			{
				$('fm_excelExport').form('clear');
				$('#dlg_excelExport').dialog('open').dialog('setTitle','Excel导出');
			}
		}
		function excelUpload(){ 
			$('#fm_excelImport').form('submit',{
				url: url,
				onSubmit: function(){
					return $(this).form('validate');
				},
				success: function(result){
					var result = eval('('+result+')');
					if (result.errorMsg){
						$.messager.alert( '错误', result.errorMsg, 'info');
						$('#dlg_excelImport').dialog('close');		// close the dialog
						$('#dg').datagrid('reload');	// reload the user data
					} else {
						$('#dlg_excelImport').dialog('close');		// close the dialog
						$('#dg').datagrid('reload');	// reload the user data
					}
				}
			});
		}
		function excelExport(){ 
			try{ 
				var elemIF = document.createElement("iframe");   
				elemIF.src = '{#$dir#}/export.php';
				elemIF.style.display = "none";   
				document.body.appendChild(elemIF);   
			}catch(e){ 
	 
			} 
		}
		function downloadFile(url) {   
			try{ 
				var elemIF = document.createElement("iframe");   
				elemIF.src = url;   
				elemIF.style.display = "none";   
				document.body.appendChild(elemIF);   
			}catch(e){ 
	 
			} 
   		 }	
	</script><style type="text/css">
		#fm{
			margin:0;
			padding:10px 30px;
		}
		.ftitle{
			font-size:14px;
			font-weight:bold;
			padding:5px 0;
			margin-bottom:10px;
			border-bottom:1px solid #ccc;
		}
		.fitem{
			margin-bottom:5px;
		}
		.fitem label{
			display:inline-block;
			width:80px;
		}
		.fitem input{
			width:160px;
		}
	</style>
</body>
</html>